* {
    box-sizing:border-box;
    margin:0;
    padding:0
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ECECEA;
}

a {
    outline: 0;
}

.wrapper {
    max-width: 90%;
    width: 1440px;
    margin: 0 auto;
}

/*NAVIGATION*/
.navbar {
    background-color: #558C89;
    margin: 0 auto;
    height: 80px;
    font-weight: 700;
    font-size: 1em;
}

.navbar-inverse .navbar-brand {
    color: #ECECEA;
}

.navbar-inverse .navbar-nav .nav-link {
    color: #ECECEA;
}

.navbar-inverse .navbar-brand:hover {
    color: #D9853B;

}


.navbar-inverse .navbar-nav .nav-link:hover {
    color: #D9853B;
}

.active {
    color: #D9853B !important;
}

/*BANNER*/
.bg-banner {
    background-color: #74AFAD;
    height: 550px;
}

h1 {
    padding-top: 200px;
    color: #ECECEA;
    text-align: center;
    font-weight: bold;
    font-size: 4em;
}

.line {
    height: 5px;
    width: 400px;
    background-color: #ECECEA;
    margin: 40px auto;
    border-radius: 10px;
}

h2 {
    color: #ECECEA;
    text-align: center;
    font-weight: bold;
    font-size: 3.8em;
}

/*PORTFOLIO*/
.port-margin {
    margin-top: 80px;
    text-align: center;
}

.port-img {
    display: block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.portfolio-object {
    display: inline-block;
    width: 32.9%;
}

.portfolio-link {
    max-width: 400px;
    display: block;
}

/*FOOTER*/
.footer-banner {
    height: 400px;
    background-color: #74AFAD;
    margin-top: 120px;
}

.footer-title {
    padding-top: 80px;
    color: #ECECEA;
    text-align: center;
    font-weight: 400;
    font-size: 2em;
}

.about-text {
    color: #ECECEA;
    text-align: center;
    font-weight: 400;
    margin: 30px auto;
    font-size: 1.2em;
    width: 500px;
}

.details {
    margin: 50px auto;
    text-align: center;
    font-size: 3em;
}

.linkContact {
    padding: 0 20px;
    color: #ECECEA;
}

.linkContact:hover {
    color: #D9853B;
}

.copyright {
    background-color: #558C89;
    color: #ECECEA;
    text-align: center;
    padding: 20px 0;
}

/*MODAL*/
.modal-dialog {
    width: 60% !important;
    max-width: 90%;
}

.modal-body {
    overflow: auto;
    height: 90%;
}

.images {
    text-align: center;
}

.modal-thumbnails {
    /*width: 300px;*/
    /*margin: 0 20px;*/
    height: auto;
    max-width: 100%;
}

.modal_button {
    text-align: center;
}

.port-info {
    margin: 60px 0 40px;
}

.skills {
    color: #D9853B;
    margin-bottom: 30px;
}

.modal_links {
    margin: 0 20px;
    color: #D9853B;
}

.modal_links:hover {
    color: #558C89;
}